<div class="row pt-5">

    <div class="col-md-2 line">
        <div class="line-child">
            <dx-button stylingMode="contained" text="Thêm mới điểm đến" icon="bi bi-folder-plus" type="default"
                [width]="'auto'" (onClick)="handlerCreate()">
            </dx-button>
        </div>
    </div>

</div>

<div class="main">
    <div class="mainsub" *ngFor="let master of masters">
        <app-image-card [path]="master.destinationURL" [imgURL]="master.imageURL" [id]="master.id" [isSpecial]="master.isSpecial"
            [btnContent]="master.destinationName" (editData)="handlerEdit($event)" (deleteData)="handlerDelete($event)">
        </app-image-card>
    </div>
</div>


<dx-popup [width]="600" [height]="410" [showTitle]="true" title="{{popupTitle}}" [dragEnabled]="true"
    [hideOnOutsideClick]="true" [showCloseButton]="true" [(visible)]="popupVisible">
    <!-- <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="after" [options]="actionButtonOptions">
    </dxi-toolbar-item> -->
    <dxo-position dxo-position at="center" my="center"> </dxo-position>
    <div *dxTemplate="let data of 'content'">
        <div style="padding-bottom: 30px;">
            <dx-check-box [(value)]="isSpecial"  [iconSize]="25" text="Đánh dấu là điểm đến với các chuyến đi ưu đãi độc quyền"></dx-check-box>
        </div>
        <div lass="pt-5">Tên điểm đến gợi nhớ</div>
        <dx-text-box [maxLength]="300" [(value)]="master.destinationName"> </dx-text-box>

        <div class="pt-5">Đường dẫn ảnh đại diện <span (click)="callRepo()" class="action">(Hoặc Lấy từ kho ảnh)</span> </div>
        <dx-text-box [maxLength]="300" [(value)]="master.imageURL"> </dx-text-box>
        <div class="pt-4" style="float: right;">
            <dx-button stylingMode="contained" text="Hoàn tất" icon="check" type="default"
            [width]="'auto'" (onClick)="handlerAction()">
        </dx-button>
        </div>
    </div>
</dx-popup>


<dx-popup [showTitle]="true" title="Chọn ảnh đại diện" [hideOnOutsideClick]="true" [fullScreen]="true"
    [showCloseButton]="true" [(visible)]="isShowImageRepo">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
            <app-image (selectedItem)="selectedItem($event)" [isMain]="false"></app-image>
        </dx-scroll-view>
    </div>
</dx-popup>