<div class="card" style="width: 390px; height: 340px">
    <a  routerLink="{{path}}" style="position: relative;">
        <img class="card-img-top" src="{{imgURL}}" alt="Card image" style="width:100%; height: 265px; max-height: 265px">
        <i *ngIf="isSpecial" class="bi bi-star-fill special"></i>
    </a>
    
    <div class="card-body text-center">
        <div>
            <span class="me-1" style="float: right;" (click)="editClick()" >
                <i class="bi bi-pencil-fill" style="font-size: 1.6rem; color: rgb(41, 131, 233); margin-left: 10px; cursor: pointer;"  ></i>
            </span>
            <span class="ms-1 me-1" style="float: right;" (click)="deleteClick()">
                <i class="bi bi-x-circle-fill" style="font-size: 1.6rem; color: rgb(240, 65, 65); cursor: pointer;" ></i>
            </span>
            <span style="margin-left: -15px;">
                <a  routerLink="{{path}}">
                    <dx-button  stylingMode="outlined" [icon]="'arrowright'" text="{{btnContent}}" type="default" [width]="'280px'">
                    </dx-button>
                </a>
            </span>
        </div>
    </div>
</div>