<div class="row">
    <div class="col-md-2">
        <div>Tạo mới folder</div>
        <dx-text-box placeholder="Nhập tên folder muốn tạo" [(value)]="folderCreate.name"></dx-text-box>
    </div>
    <div class="col-md-2 line">
        <div class="line-child">
            <dx-button stylingMode="contained" text="Tạo folder" icon="bi bi-folder-plus" type="default"
                [width]="'auto'" (onClick)="createFolder($event)">
            </dx-button>
        </div>
    </div>
    <div class="col-md-3">
        <div>Điểm đến</div>
        <dx-select-box [items]="desFolders" displayExpr="name" [(value)]="desFolder" placeholder="Chọn điểm đến"
            [showClearButton]="true" (onValueChanged)="getTripFolderByDesId($event.value.id)"></dx-select-box>
    </div>
    <div class="col-md-3">
        <div>Folder chứa ảnh các chuyến đi</div>
        <dx-select-box [items]="tripFolders" displayExpr="name" [(value)]="tripFolder" placeholder="Chọn folder"
            [showClearButton]="true" (onValueChanged)="getImagesByTripId($event.value.id)"></dx-select-box>
    </div>
    <div class="col-md-2 line">
        <div class="line-child">
            <app-upload [type]="1" [folderId]="tripFolder.id" [parentId]="tripFolder.parentId" (onUploadFinished)="getImagesByTripId(tripFolder.id)">
            </app-upload>
        </div>
    </div>
</div>

<!-- cần đưa về 1 component dùng chung -->
<div class="main">
    <div class="mainsub" *ngFor="let item of images">
        <div class="img-thumbnail">
            <img class="img-fluid" src="{{urlImg}}Trip/{{item.folderName}}/{{item.imageName}}" alt="">
            <div class="middle">
                <div *ngIf="isMain" class="text" (click)="copyLink(item)">Copy link</div>
                <div *ngIf="!isMain" class="text" (click)="select(item)">Chọn</div>
            </div>
        </div>
    </div>

</div>